<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ECommerceCartAutomationSuite">

    <listeners>
        <listener class-name="com.ab.cart.base.TestListener"/>
    </listeners>

    <test name="ECommerceTests">
        <classes>
            
            <class name="com.ab.cart.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
